.partner {
    text-align: center;
    padding: 48px 0 48px;

    p {
        margin-bottom: 32px;
    }

    &-list {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
        column-gap: 16px;

        @include TabletMobile {
            grid-template-columns: 1fr 1fr 1fr;
            row-gap: 32px;
            column-gap: 32px;
        }

        @include Mobile {
            column-gap: 16px;
        }
    }

    &-item {}
}